/* Progress bar styles */
.progress-bar-indigo {
  width: 85%;
}

.progress-bar-green-65 {
  width: 65%;
}

.progress-bar-blue-92 {
  width: 92%;
}

.progress-bar-red-3 {
  width: 3%;
}

.progress-bar-green-78 {
  width: 78%;
}

.progress-bar-yellow-15 {
  width: 15%;
}

.progress-bar-red-65 {
  width: 65%;
}

.progress-bar-blue-25 {
  width: 25%;
}
